{% extends "layaout.html" %}

<!-- about.html dosyasının içeriğini layout.html şablonundan türetir.
Böylece, layout.html içinde ortak öğeler (navbar, footer, CSS dosyaları vb.) kullanılır ve her sayfa için tekrarlamaya gerek kalmaz.
 -->

 {% block yasin %}

 <h3>About me </h3>

 <hr color="black">
  <p>Merhaba! Ben Yasin Yavuz, Bilgisayar Mühendisliği öğrencisi ve yazılım tutkunu bir geliştiriciyim. 🚀

    Teknolojiye ve yazılıma olan ilgim sayesinde farklı alanlarda kendimi geliştiriyorum. Özellikle yapay zeka, veri bilimi, çoklu ajan ortamları ve web geliştirme konularında çalışmalar yapıyorum. Bunun yanı sıra, SQL veritabanı yönetimi ve GUI tasarımı üzerine de deneyim sahibiyim.
    
    Şu anda ileri web programlama ve İHA yazılım geliştirme üzerine projeler yürütüyorum. Amacım, yazılım dünyasında yenilikçi projeler geliştirmek ve insanların hayatını kolaylaştıran çözümler üretmek.
    
    Ayrıca kariyer odaklı İngilizce eğitimi alıyor ve Fransızca öğreniyorum. Global projelerde yer almak ve teknoloji dünyasında etkili bir rol oynamak istiyorum.
    
    💡 Kod yazmak, yeni şeyler öğrenmek ve üretmek benim için bir yaşam tarzı!
    
    Beni daha yakından tanımak ve projelerimi incelemek için iletişime geçebilirsin! 😊
    
    📩 İletişim: (Buraya e-posta veya sosyal medya bağlantılarını ekleyebilirsin.)
    
    </p>
 
 <hr color="black">

 {% endblock %}